{
  "incompleteObjectiveTemplate" : "- <objective>\n",
  "completeObjectiveTemplate" : "^#878787;- <objective>^reset;\n",

  "expandedFrameMinHeight" : 60,
  "expandedFramePadding" : 5,

  "progressFrameImage" : "/interface/questtracker/progressframe.png",
  "expandedProgressFrameImage" : "/interface/questtracker/progressframe_expanded.png",

  "compassFrameImage" : "/interface/questtracker/compassframe.png",
  "expandedCompassFrameImage" : "/interface/questtracker/compassframe_expanded.png",

  "compassAcceleration" : 0.025,
  "compassFriction" : 0.055,

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomRight",
      "offset" : [-131, 62],
      "positionLocked" : true
    },
    "imgFrame" : {
      "type" : "image",
      "position" : [-5, -60],
      "centered" : false,
      "zlevel" : 0,
      "file" : "/interface/questtracker/frame.png"
    },
    "imgFrameExpanded" : {
      "type" : "imageStretch",
      "position" : [-5, 50],
      "size" : [133, 50],
      "zlevel" : 0,
      "direction" : "vertical",
      "stretchSet" : {
        "type" : "stretch",
        "begin" : "/interface/questtracker/expandedframebottom.png",
        "inner" : "/interface/questtracker/expandedframemiddle.png",
        "end" : "/interface/questtracker/expandedframetop.png"
      }
    },
    "lblQuestObjectiveList" : {
      "type" : "label",
      "position" : [3, -56],
      "zlevel" : 1,
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "fontSize" : 6.5,
      "wrapWidth" : 110,
      "value" : "Gather 8 Mangy Wolf Pelts"
    },
    "imgProgressFrame" : {
      "type" : "image",
      "zlevel" : 1,
      "position" : [-5, -18],
      "centered" : false,
      "trim" : false,
      "scale" : 1.0,
      "file" : "/interface/questtracker/progressframe.png"
    },
    "questProgress" : {
      "type" : "progress",
      "zlevel" : 2,
      "background" : "/interface/questtracker/emptyprogress.png",
      "position" : [-2, -15],
      "size" : [114, 6],
      "progressSet" : {
        "inner" : "/interface/questtracker/progress.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "imgCompassFrame" : {
      "type" : "image",
      "zlevel" : 3,
      "position" : [-27, -60],
      "trim" : false,
      "file" : "/interface/questtracker/compassframe.png"
    },
    "imgCompass" : {
      "type" : "image",
      "zlevel" : 4,
      "position" : [-15, -49],
      "centered" : true,
      "trim" : false,
      "file" : "/interface/questtracker/compass.png"
    }
  }
}
