{
  "trashBurnTimeout" : 1.0,
  "subtitle" : "^#48FDB0;INVENTORY and EQUIPMENT",

  "sounds" : {
    "pickup" : [
      "/sfx/interface/inventory_pickup1.ogg"
    ],
    "putdown" : [
      "/sfx/interface/inventory_putdown1.ogg"
    ]
  },

  "defaultPetNameLabel" : "^#5F6064;PET",

  "bagConfig" : {
    "mainBag" : {
      "order" : 1,
      "tabButtonData" : "showMainGrid",
      "itemGrid" : "mainItemGrid",
      "newItemMarker" : "newGeneralItems"
    },
    "materialBag" : {
      "order" : 2,
      "tabButtonData" : "showTileGrid",
      "itemGrid" : "tileItemGrid",
      "newItemMarker" : "newTileItems"
    },
    "objectBag" : {
      "order" : 3,
      "tabButtonData" : "showObjectGrid",
      "itemGrid" : "objectItemGrid",
      "newItemMarker" : "newObjectItems"
    },
    "reagentBag" : {
      "order" : 4,
      "tabButtonData" : "showReagentGrid",
      "itemGrid" : "reagentItemGrid",
      "newItemMarker" : "newReagentItems"
    },
    "foodBag" : {
      "order" : 5,
      "tabButtonData" : "showFoodGrid",
      "itemGrid" : "foodItemGrid",
      "newItemMarker" : "newFoodItems"
    }
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/inventory/inventoryheader.png",
      "fileBody" : "/interface/inventory/inventorybody.png",
      "fileFooter" : "/interface/inventory/inventoryfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "pressed" : "/interface/inventory/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [278, 246]
    },
    "sort" : {
      "type" : "button",
      "base" : "/interface/inventory/sort.png",
      "hover" : "/interface/inventory/sorthover.png",
      "press" : "/interface/inventory/sortpress.png",
      "position" : [272, 16]
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [38, 11],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [50, 10],
      "value" : "0"
    },
    "imgEssenceIcon" : {
      "type" : "image",
      "position" : [110, 10],
      "centered" : false,
      "file" : "/interface/inventory/essenceicon.png"
    },
    "lblEssence" : {
      "type" : "label",
      "position" : [125, 10],
      "value" : "0"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/inventory/shine.png",
      "position" : [-50, 6],
      "zlevel" : -10
    },
    "newGeneralItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [164, 37]
    },
    "newTileItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [164, 57]
    },
    "newObjectItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [164, 77]
    },
    "newReagentItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [164, 97]
    },
    "newFoodItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [164, 117]
    },
    "gridModeSelector" : {
      "type" : "radioGroup",
      "position" : [5, 109],

      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/inventory/bigbag.png:base",
          "baseImageChecked" : "/interface/inventory/bigbag.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigbag.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigbag.png:pressedChecked",
          "position" : [162, -78],
          "data" : "showMainGrid",
          "selected" : true,
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigcart.png:base",
          "baseImageChecked" : "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigcart.png:pressedChecked",
          "position" : [162, -58],
          "data" : "showTileGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigobj.png:base",
          "baseImageChecked" : "/interface/inventory/bigobj.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigobj.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigobj.png:pressedChecked",
          "position" : [162, -38],
          "data" : "showObjectGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigrea.png:base",
          "baseImageChecked" : "/interface/inventory/bigrea.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigrea.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigrea.png:pressedChecked",
          "position" : [162, -18],
          "data" : "showReagentGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigfood.png:base",
          "baseImageChecked" : "/interface/inventory/bigfood.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigfood.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigfood.png:pressedChecked",
          "position" : [162, 2],
          "data" : "showFoodGrid",
          "pressedOffset" : [0,0]
        }
      ]
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [106, 137],
      "scale" : 1.6
    },
    "mainItemGrid" : {
      "type" : "itemgrid",
      "position" : [209, 32],
      "dimensions" : [4, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "tileItemGrid" : {
      "type" : "itemgrid",
      "position" : [209, 32],
      "dimensions" : [4, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectItemGrid" : {
      "type" : "itemgrid",
      "position" : [209, 32],
      "dimensions" : [4, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "reagentItemGrid" : {
      "type" : "itemgrid",
      "position" : [209, 32],
      "dimensions" : [4, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "foodItemGrid" : {
      "type" : "itemgrid",
      "position" : [209, 32],
      "dimensions" : [4, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "head" : {
      "type" : "itemslot",
      "position" : [42, 157],
      "backingImage" : "/interface/inventory/backingimagehead.png",
      "data" : {
        "tooltipText" : "Head Armour"
      }
    },
    "chest" : {
      "type" : "itemslot",
      "position" : [42, 133],
      "backingImage" : "/interface/inventory/backingimagechest.png",
      "data" : {
        "tooltipText" : "Chest Armour"
      }
    },
    "legs" : {
      "type" : "itemslot",
      "position" : [42, 109],
      "backingImage" : "/interface/inventory/backingimagelegs.png",
      "data" : {
        "tooltipText" : "Leg Armour"
      }
    },
    "back" : {
      "type" : "itemslot",
      "position" : [42, 85],
      "backingImage" : "/interface/inventory/backingimageback.png",
      "data" : {
        "tooltipText" : "Back Armour"
      }
    },
    "headCosmetic" : {
      "type" : "itemslot",
      "position" : [16, 157],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Cosmetic"
      }
    },
    "chestCosmetic" : {
      "type" : "itemslot",
      "position" : [16, 133],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Cosmetic"
      }
    },
    "legsCosmetic" : {
      "type" : "itemslot",
      "position" : [16, 109],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Cosmetic"
      }
    },
    "backCosmetic" : {
      "type" : "itemslot",
      "position" : [16, 85],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Cosmetic"
      }
    },
    "techHead" : {
      "type" : "image",
      "position" : [30, 208],
      "centered" : true
    },
    "techHeadDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [21, 199],
      "zlevel" : 2
    },
    "techBody" : {
      "type" : "image",
      "position" : [67, 208],
      "centered" : true
    },
    "techBodyDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [57, 199],
      "zlevel" : 2
    },
    "techLegs" : {
      "type" : "image",
      "position" : [104, 209],
      "centered" : true
    },
    "techLegsDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [95, 200],
      "zlevel" : 2
    },
    "companionSlot" : {
      "type" : "image",
      "centered" : true,
      "file" : "",
      "position" : [177, 208],
      "maxSize" : [25, 25],
      "minSize" : [25, 25]
    },
    "companionHealthBar" : {
      "type" : "progress",
      "position" : [157, 182],
      "background" : "/interface/inventory/monsterhealthempty.png",
      "progressSet" : {
        "inner" : "/interface/inventory/monsterhealth.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "companionAttackStat" : {
      "type" : "label",
      "position" : [151, 213],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "42"
    },
    "companionDefenseStat" : {
      "type" : "label",
      "position" : [151, 198],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "42"
    },
    "healthtext" : {
      "type" : "label",
      "position" : [68, 51],
      "hAnchor" : "right",
      "value" : "set at runtime",
      "color" : [72, 253, 176]
    },
    "energytext" : {
      "type" : "label",
      "position" : [68, 31],
      "hAnchor" : "right",
      "value" : "set at runtime",
      "color" : [255, 48, 173]
    },
    "weapontext" : {
      "type" : "label",
      "position" : [132, 51],
      "hAnchor" : "right",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "defensetext" : {
      "type" : "label",
      "position" : [125, 31],
      "hAnchor" : "right",
      "value" : "--",
      "color" : [255, 255, 255]
    },
    "trash" : {
      "type" : "itemslot",
      "position" : [175, 136],
      "backingImage" : "/interface/inventory/backingimagetrash.png",
      "data" : {
        "tooltipText" : "Trash"
      }
    },
    "labelappearance" : {
      "type" : "label",
      "position" : [59, 243],
      "hAnchor" : "mid",
      "value" : "",
      "color" : [185, 181, 178]
    },
    "labelstats" : {
      "type" : "label",
      "position" : [64, 66],
      "hAnchor" : "mid",
	  "value" : "STATS",
      "color" : [95, 96, 100]
    },
    "companionName" : {
      "type" : "label",
      "position" : [167, 227],
      "hAnchor" : "left",
      "value" : "PET",
      "color" : [95, 96, 100]
    },
    "labeltech" : {
      "type" : "label",
      "position" : [56, 225],
      "hAnchor" : "left",
      "value" : "TECHS",
      "color" : [95, 96, 100]
    },
    "labelinventory" : {
      "type" : "label",
      "position" : [248.5, 225],
      "hAnchor" : "mid",
      "value" : "INVENTORY",
      "color" : [95, 96, 100]
    }
  }
}
