{
  "energyBarColor" : "#FF30AD",
  "energyBarUnusableColor" : "#FF0059",
  "energyBarRegenMixColor" : "#C62589",

  "foodBarFlashTime" : 0.2,
  "foodBarFlashOverlay" : "/interface/foodbarflashoverlay.png",

  "memberPortraitScale" : 1.5,
  "memberSize" : 38,
  "memberSpacing" : 1,

  "memberMenuOffset" : [29, -15],
  "selfMenuOffset" : [31, -78],

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "TopLeft"
    },
    "backing" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/party/playerbar.png",
      "position" : [0, -45]
    },
    "portrait" : {
      "zlevel" : 2,
      "type" : "portrait",
      "portraitMode" : "bust",
      "position" : [18, -33],
      "scale" : 1.5
    },
    "overlay" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/party/playerbar_overportrait.png",
      "position" : [0, -45]
    },
    "showSelfMenu" : {
      "zlevel" : 10,
      "type" : "button",
      "position" : [0, -35],
      "size" : [30, 30],
      "invisible" : true,
      "pressedOffset" : [0, 0]
    },
    "leader" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/party/partylead.png",
      "position" : [4, -37]
    },
    "name" : {
      "zlevel" : 4,
      "type" : "label",
      "fontSize" : 8,
      "value" : "Beefjeff",
      "vAnchor" : "mid",
      "position" : [45, -6]
    },
    "inviteButton" : {
      "zlevel" : 2.5,
	  "type" : "button",
      "base" : "/interface/party/invite.png",
      "pressed" : "/interface/party/invite_pressed.png",
      "pressedOffset" : [0, -10]
	},
    "noInviteImage" : {
      "type" : "image",
      "file" : "/interface/party/noinvite.png"
    },
    "healthBar" : {
      "zlevel" : 7,
      "type" : "progress",
      "position" : [35, -25],
      "background" : "/interface/emptyhealthbar.png",
      "size" : [68, 12],
      "progressSet" : {
        "inner" : "/interface/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "energyBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [35, -35],
      "background" : "/interface/emptyenergybar.png",
      "size" : [68, 8],
      "progressSet" : {
        "inner" : "/interface/energybar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "foodBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [31, -43],
      "background" : "/interface/emptybarfood.png",
      "size" : [76, 6],
      "progressSet" : {
        "inner" : "/interface/foodbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "list" : {
      "type" : "container",
      "position" : [2, -36]
    }
  },

  "entry" : {
    "backing" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/party/portraitparty.png",
      "position" : [0, -10]
    },
    "portrait" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "",
      "position" : [14, 8],
      "scissoring" : false
	  
    },
    "overlay" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/party/portraitparty_overportrait.png",
      "position" : [0, -10]
    },
    "leader" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/party/partylead.png",
      "position" : [2, 4]
    },
    "compass" : {
      "zlevel" : 5,
      "type" : "image",
      "file" : "/interface/party/compass.png",
      "centered" : true,
      "trim" : false,
      "position" : [29, 7],
      "scissoring" : false
    },
    "compassoffworld" : {
      "zlevel" : 6,
      "type" : "image",
      "file" : "/interface/party/compassoffworld.png",
      "position" : [23, 2]
    },
    "healthBar" : {
      "zlevel" : 7,
      "type" : "progress",
      "position" : [1, -4],
      "background" : "/interface/party/emptybar.png",
      "progressSet" : {
        "inner" : "/interface/party/healthbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "energyBar" : {
      "zlevel" : 8,
      "type" : "progress",
      "position" : [1, -9],
      "background" : "/interface/party/emptybar1.png",
      "progressSet" : {
        "inner" : "/interface/party/energybar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "showMemberMenu" : {
      "zlevel" : 9,
      "type" : "button",
      "position" : [0, -10],
      "size" : [30, 38],
      "invisible" : true,
      "pressedOffset" : [0, 0]
    }
  }
}
